/* CSS Document */
.current {
	background-color: yellow;
	color: mediumpurple;
}

.nav {
	margin: 0;
	padding: 0;
	
	list-style-type: none;
}

.nav > li {
	display: inline-block;
}

.nav > li a {
	color: mediumpurple;
}

.nav-header {
	font-size: 1.25rem;	
}
